*{
  margin: 0.1px;
  padding: 0.1px; 
}
body {
  background-image: url("/public/bg.jpeg");
  background-color: #cccccc;
background-size: cover;
    }

.link-hover{
  color: #da1212;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
    }
/* .link-hover:hover {
  color: #0dcaf0;
  transform: scale(1.1);
} */

.link-hover:hover{
  color:firebrick;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: scale(1.2);
}
.navbar{
  margin-left:4px ;
  background-color: rgb(0, 0, 0);
  border: #cccccc 1px solid;  
}

.head:hover{
  color: #0dcaf0;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: scale(1.2) ;
}

.forms{
  margin-left: 10px;
  padding: 1px;
  color: white;
  
}
/* .navbar ruleset removed because it was empty */